.background{
    background-image: url("../images/bg.jpg");
    //background-size: 100%;
    background-repeat: no-repeat;
    height: 500px;
}
.backgroundOpacity{
    filter: opacity(80%);
}
html{
    margin-top: -10px;
}
.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
